<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="Data Source=./BSParser.db;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="IronOcr.LicenseKey" value="IRONOCR.WYATTSAINT.2861-4A79FC3889-CIUT2WUEENU27I3-MGJX5YK27LAT-45ZFXQNQTFLN-R2L4FXV4Y7A5-XCDJUCRQKFMO-M5O7XJ-TMVT7DBQUBSKEA-DEPLOYMENT.TRIAL-C72XTV.TRIAL.EXPIRES.07.JUL.2023"/>
	</appSettings>
</configuration>